<div id="productsRow">
  <div class="row d-flex justify-content-center" style="position: relative; background-color: white !important; padding-top: 5%;" >
    <div >
      <h1 style="text-align: center;">
        Wählen Sie zwischen unseren drei Hauptangeboten.
      </h1>
    </div>
  </div>
  <div class="row">
    <div
      class="col-sm"
      style="background-color: white; padding-top: 5%; padding-bottom: 5%;"
    >
      <div class="cardScale">
        <!-- Card Wider -->
        <div class="card card-cascade wider">
          <!-- Card image -->
          <div
            class="imgContainer"
            id="imgContainer1"
            role="button"
            routerLink="/appdev"
          >
            <img class="card-img-top" id="productImage1" alt="Card image cap" />
            <div class="top-left">App Development.</div>
          </div>
          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h4 class="card-title"><strong>APP DEVELOPMENT</strong></h4>
            <!-- Subtitle -->
            <h5 style="color: #ffcd95;">
              <strong>Schöne und dynamische Apps für Ihr Unternehmen.</strong>
            </h5>
            <hr/>

            <!-- Text -->
            <p class="card-text">
              An ihr Unternehmen angepasste cross-platform apps.
            </p>

            <!-- Link -->
            <a href="#!" class="black-text d-flex justify-content-end">
              <h5>Mehr erfahren<i class="fas fa-angle-double-right"></i></h5>
            </a>
          </div>
        </div>
        <!-- Card Wider -->
      </div>
    </div>

    <div
      class="col-sm"
      style="background-color: white; padding-top: 5%; padding-bottom: 5%;"
    >
      <!-- Card Wider -->
      <div class="card card-cascade wider">
        <!-- Card image -->
        <div
          class="imgContainer"
          id="imgContainer2"
          role="button"
          routerLink="/webdev"
        >
          <img class="card-img-top" id="productImage2" alt="Card image cap" />
          <div class="top-left">Web Development.</div>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>WEBPAGE DEVELOPMENT</strong></h4>
          <!-- Subtitle -->
          <h5 style="color: #cc95ff;">
            <strong
              >Sie müssen Sich um Nichts kümmern. Wir übernehmen Entwicklung,
              Design und Hosting.</strong
            >
          </h5>
          <hr />

          <!-- Text -->
          <p class="card-text">
            An ihr Unternehmen angepasste cross-platform apps.
          </p>

          <!-- Link -->
          <a href="#!" class="black-text d-flex justify-content-end">
            <h5>Mehr erfahren<i class="fas fa-angle-double-right"></i></h5>
          </a>
        </div>
      </div>
      <!-- Card Wider -->
    </div>
    <div
      class="col-sm"
      style="background-color: white; padding-top: 5%; padding-bottom: 5%;"
    >
      <!-- Card Wider -->
      <div class="card card-cascade wider">
        <!-- Card image -->
        <div
          class="imgContainer"
          id="imgContainer3"
          role="button"
          routerLink="/designdev"
        >
          <img class="card-img-top" id="productImage3" alt="Card image cap" />
          <div class="top-left">Design Development.</div>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>DESIGN DEVELOPMENT</strong></h4>
          <!-- Subtitle -->
          <h5 style="color: #8ece60;">
            <strong>Kooperative Designs für Ihr Unternehmen.</strong>
          </h5>
          <hr />

          <!-- Text -->
          <p class="card-text">
            An ihr Unternehmen angepasste cross-platform apps.
          </p>

          <!-- Link -->
          <a href="#!" class="black-text d-flex justify-content-end">
            <h5>Mehr erfahren<i class="fas fa-angle-double-right"></i></h5>
          </a>
        </div>
      </div>
      <!-- Card Wider -->
    </div>
  </div>
</div>
