.imgContainer {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  font-size: 2vw;
    position: absolute;
  top: 8px;
  left: 16px;
}

#productsRow{
overflow: visible;
}

#headerRow{
margin-left: auto;
margin-right: auto;
}

