.imgContainer {
  position: relative;
  text-align: center;
}

.top-left {
  font-size: 2vw;
  position: absolute;
  top: 8px;
  left: 16px;
  color: white;
}

#productsRow {
  padding-bottom: 5%;
  height: 100%;
  overflow: visible;
  background-color: white;
  position: relative;
}

#headerRow {
  margin-left: auto;
  margin-right: auto;
}

#introText {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
}
