<div id="aboutCard">
  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center white-text">
    <!--Grid row-->
    <div class="row d-flex justify-content-center">
      <!--Grid column-->
      <div class="col-xl-6 col-md-8">
        <h2>
          FUCK
        </h2>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row" style="padding-bottom: 10%;">
      <!--First column-->
      <div>
        <p class="my-3">
          Wir sind ein junges Unternehmen gegründet von Schülern der HTL
          Grieskirchen. Unser Ziel ist die Umsetzung ihrer wildesten Software
          und Designfantasien.
        </p>
      </div>
    </div>
    <!--/Grid row-->

    <div class="row d-flex justify-content-center">
      <!--Grid column-->
      <div class="col-xl-6 col-md-8">
        <h2>
          Große Ideen aber kleines Geld?
        </h2>
      </div>
      <!--Grid column-->
    </div>

    <div class="row">
      <!--First column-->
      <div>
        <p class="my-3">
          Wir finden, dass Geld zweitrangig ist. Wir versuchen ihre Erwartungen
          in ihrem gewünschtren finanziellen Rahmen zu erfüllen.
        </p>
      </div>
    </div>
    <div
      class="row"
      role="button"
      routerLink="/preise"
      style="color: cornflowerblue;"
    >
      Zu den Preisen
    </div>
  </section>
  <!--Section: Content-->
</div>
