<header>
  <app-navbar></app-navbar>
</header>

<!-- Jumbotron -->
<div class="jumbotron text-center">

  <!-- Title -->
  <h2 class="card-title h2">Corporate Design</h2>
  <!-- Subtitle -->
  <p class="blue-text my-4 font-weight-bold">Wir verhelfen Ihnen zu ihrem persönlichen & eindrucksvollen Corporate Design.</p>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      <p class="card-text">Bei uns arbeitet das ganze Team an den Kundendesigns mit. Die verschiednen Entwicklungsphasen werden unten erklärt.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

<!-- Horizontal Steppers -->
<div class="row">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal">

      <!-- First Step -->
      <li class="completed">
        <a href="#!">
          <span class="circle">1</span>
          <span class="label">First step</span>
        </a>
      </li>

      <!-- Second Step -->
      <li class="active">
        <a href="#!">
          <span class="circle">2</span>
          <span class="label">Second step</span>
        </a>
      </li>

      <!-- Third Step -->
      <li class="warning">
        <a href="#!">
          <span class="circle"><i class="fas fa-exclamation"></i></span>
          <span class="label">Third step</span>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
</div>
<!-- /.Horizontal Steppers -->

  <hr class="my-4">

  <div class="pt-2">
    <button type="button" mdbBtn color="blue" mdbWavesEffect>Buy now <mdb-icon far icon="gem" class="ml-1"></mdb-icon> </button>
    <button type="button" mdbBtn color="primary" outline="true" mdbWavesEffect> Download <mdb-icon fas icon="download" class="ml-1"></mdb-icon></button>
  </div>

</div>
<!-- Jumbotron -->
