<router-outlet></router-outlet>
<hr/>
<!-- Footer -->
<footer class="page-footer font-small black">
  <div style="background-color: white;">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div
          class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
        >
          <h5 class="mb-0">Connect with us</h5>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter black-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g black-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in black-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a
            class="ins-ic"
            href="https://www.instagram.com/stingraysoftware/"
          >
            <i class="fab fa-instagram black-text"> </i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">
          Stingray Software Team
        </h5>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          Ein österreichisches Programmier und Designteam geleitet von Laurenz Mader und Benedikt Ortner.
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">Unsere angebote</h5>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <a routerLink="/appdev">App Developing</a>
        </p>
        <p>
          <a routerLink="/webdev">Webpage Developing</a>
        </p>
        <p>
          <a routerLink="/designdev">Design Developing</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">Kontakt</h5>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p><i class="fas fa-home mr-3"></i> Pollham 4710, Edt 7</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>
          laurenzmader@stingray-software.eu
        </p>
        <p><i class="fas fa-phone mr-3"></i>+43 664 537 52 55</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a href="https://stingray-software.eu/">© 2020 Copyright: stingray-software.eu</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
